<div>

    <h2 translate="erpApp.invoice.home.title">Invoice</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveInvoiceModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="erpApp.invoice.home.createLabel">Create a new Invoice</span>
    </button>
    <div class="modal fade" id="saveInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="myInvoiceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myInvoiceLabel" translate="erpApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="invoice.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="erpApp.invoice.billingAccount_id">BillingAccount_id</label>
                            <input type="number" class="form-control" name="billingAccount_id"
                                   ng-model="invoice.billingAccount_id">

                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.invoiceDate">InvoiceDate</label>
                            <input type="datetime-local" class="form-control" name="invoiceDate"
                                   ng-model="invoice.invoiceDate" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.invoiceDate.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.invoiceDate.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.invoiceDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.invoiceMessage">InvoiceMessage</label>
                            <input type="text" class="form-control" name="invoiceMessage"
                                   ng-model="invoice.invoiceMessage" required>

                            <div ng-show="editForm.invoiceMessage.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.invoiceMessage.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="invoice.description">

                        </div>

                        <div class="form-group">
                            <label translate="erpApp.invoice.invoiceType">invoiceType</label>
                            <select class="form-control" name="invoiceType" ng-model="invoice.invoiceType.id" ng-options="invoiceType.id as invoiceType.id for invoiceType in invoicetypes">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.party">party</label>
                            <select class="form-control" name="party" ng-model="invoice.party.id" ng-options="party.id as party.id for party in partys">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.status">status</label>
                            <select class="form-control" name="status" ng-model="invoice.status.id" ng-options="status.id as status.id for status in statuss">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.invoice.contactParty">contactParty</label>
                            <select class="form-control" name="contactParty" ng-model="invoice.contactParty.id" ng-options="party.id as party.id for party in partys">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteInvoiceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(invoice.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="erpApp.invoice.delete.question" translate-values="{id: '{{invoice.id}}'}">Are you sure you want to delete this Invoice?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="erpApp.invoice.billingAccount_id">BillingAccount_id</th>
                    <th translate="erpApp.invoice.invoiceDate">InvoiceDate</th>
                    <th translate="erpApp.invoice.invoiceMessage">InvoiceMessage</th>
                    <th translate="erpApp.invoice.description">Description</th>
                    <th translate="erpApp.invoice.invoiceType">invoiceType</th>
                    <th translate="erpApp.invoice.party">party</th>
                    <th translate="erpApp.invoice.status">status</th>
                    <th translate="erpApp.invoice.contactParty">contactParty</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices">
                    <td><a ui-sref="invoiceDetail({id:invoice.id})">{{invoice.id}}</a></td>
                    <td>{{invoice.billingAccount_id}}</td>
                    <td>{{invoice.invoiceDate}}</td>
                    <td>{{invoice.invoiceMessage}}</td>
                    <td>{{invoice.description}}</td>
                    <td>{{invoice.invoiceType.id}}</td>
                    <td>{{invoice.party.id}}</td>
                    <td>{{invoice.status.id}}</td>
                    <td>{{invoice.contactParty.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="invoiceDetail({id:invoice.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(invoice.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(invoice.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
