<div>

    <h2 translate="erpApp.orderItemAttribute.home.title">OrderItemAttribute</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOrderItemAttributeModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="erpApp.orderItemAttribute.home.createLabel">Create a new OrderItemAttribute</span>
    </button>
    <div class="modal fade" id="saveOrderItemAttributeModal" tabindex="-1" role="dialog" aria-labelledby="myOrderItemAttributeLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOrderItemAttributeLabel" translate="erpApp.orderItemAttribute.home.createOrEditLabel">Create or edit a OrderItemAttribute</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="orderItemAttribute.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="erpApp.orderItemAttribute.attributeName">AttributeName</label>
                            <input type="text" class="form-control" name="attributeName"
                                   ng-model="orderItemAttribute.attributeName" required>

                            <div ng-show="editForm.attributeName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.attributeName.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.orderItemAttribute.attributeValue">AttributeValue</label>
                            <input type="text" class="form-control" name="attributeValue"
                                   ng-model="orderItemAttribute.attributeValue" required>

                            <div ng-show="editForm.attributeValue.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.attributeValue.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="erpApp.orderItemAttribute.orderItemSeq_id">OrderItemSeq_id</label>
                            <input type="number" class="form-control" name="orderItemSeq_id"
                                   ng-model="orderItemAttribute.orderItemSeq_id">

                        </div>

                        <div class="form-group">
                            <label translate="erpApp.orderItemAttribute.order">order</label>
                            <select class="form-control" name="order" ng-model="orderItemAttribute.order.id" ng-options="orderHeader.id as orderHeader.id for orderHeader in orderheaders">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderItemAttributeConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(orderItemAttribute.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="erpApp.orderItemAttribute.delete.question" translate-values="{id: '{{orderItemAttribute.id}}'}">Are you sure you want to delete this OrderItemAttribute?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="erpApp.orderItemAttribute.attributeName">AttributeName</th>
                    <th translate="erpApp.orderItemAttribute.attributeValue">AttributeValue</th>
                    <th translate="erpApp.orderItemAttribute.orderItemSeq_id">OrderItemSeq_id</th>
                    <th translate="erpApp.orderItemAttribute.order">order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderItemAttribute in orderItemAttributes">
                    <td><a ui-sref="orderItemAttributeDetail({id:orderItemAttribute.id})">{{orderItemAttribute.id}}</a></td>
                    <td>{{orderItemAttribute.attributeName}}</td>
                    <td>{{orderItemAttribute.attributeValue}}</td>
                    <td>{{orderItemAttribute.orderItemSeq_id}}</td>
                    <td>{{orderItemAttribute.order.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="orderItemAttributeDetail({id:orderItemAttribute.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(orderItemAttribute.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(orderItemAttribute.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
