<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span translate="global.title">jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="producttype"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.producttype">producttype</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productcategory"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.productcategory">productcategory</span></a></li>                        
                        <li ui-sref-active="active" ><a ui-sref="appFeatures"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.appFeatures">appFeatures</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inventoryItemType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inventoryItemType">inventoryItemType</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="ordertype"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.ordertype">ordertype</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="partyTypes"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.partyTypes">partyTypes</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userGroups"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.userGroups">userGroups</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="product"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.product">product</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="productattribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.productattribute">productattribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="party"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.party">party</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="shipmentType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.shipmentType">shipmentType</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="shipment"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.shipment">shipment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.userType">userType</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="contactDetails"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.contactDetails">contactDetails</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userGroupMembership"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.userGroupMembership">userGroupMembership</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userRights"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.userRights">userRights</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userGroupRights"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.userGroupRights">userGroupRights</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="status"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.status">status</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inventoryItem"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inventoryItem">inventoryItem</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inventoryItemStatus"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inventoryItemStatus">inventoryItemStatus</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inventoryItemTypeAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inventoryItemTypeAttribute">inventoryItemTypeAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="inventoryItemAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.inventoryItemAttribute">inventoryItemAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderTypeAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderTypeAttribute">orderTypeAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderHeader"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderHeader">orderHeader</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderAttribute">orderAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderStatus"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderStatus">orderStatus</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderPaymentPreference"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderPaymentPreference">orderPaymentPreference</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderItem"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderItem">orderItem</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderItemAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderItemAttribute">orderItemAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="invoiceType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.invoiceType">invoiceType</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="invoice"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.invoice">invoice</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="invoiceAttribute"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.invoiceAttribute">invoiceAttribute</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="invoiceItem"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.invoiceItem">invoiceItem</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="shipmentItem"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.shipmentItem">shipmentItem</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="orderItemBilling"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.orderItemBilling">orderItemBilling</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="shipmentItemBilling"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.shipmentItemBilling">shipmentItemBilling</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin.main">Admin</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API Docs</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
